.video-section {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.video-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.video-section video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  filter: drop-shadow(10px);
  z-index: -1;
}

.w-full {
  z-index: 2;
}

.container {
  padding: 50px;
}

.w-full h1, h3 {
  text-shadow: 4px 4px 21px rgba(0,0,0,0.6);
}
.w-full a {
  font-weight: 500;
  text-decoration: none;
  color: white;
  background-color: brown;
  text-shadow: 4px 4px 21px rgba(0,0,0,0.6);
  padding: 10px;
  border-radius: 5px;
}

.w-full a:hover {
  color:brown;
  background-color: white;
}
#down-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 3;
  fill: brown;
}

.info, .info-second {
  width: 100%;
  height: auto;
  background-color: rgba(18,18,18,255);
}
.icon {
  width: 40px;
  height: 70px;
  padding-top: 30px;
}
.info-text {
  line-height: 35px;
  font-size: 20px;
  color:white;
  padding: 30px 0;
}
.info-img-div {
  margin: auto !important;
}
.info-img {
  padding: 30px 0;
  height: auto;
  width: 100%;
  transition: transform 0.3s ease;
}

.info-img:hover {
  transform: scale(1.1);
}

.blogs, .staff_apply {
  background-color: rgba(30,30,30,255);
}

.blogs-text h1:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: red;
  margin: 30px auto 20px;
}

.blogs-text h1 {
  display: inline-block;
  font-size: 25px;
  color:white;
  line-height: 35px;
}
.blogs-text h3 {
  font-size: 20px;
  line-height: 30px;
  color:white;
  padding: 10px;
}

.blogs a, .staff_apply a {
  font-weight: 500;
  text-decoration: none;
  color: white;
  background-color: brown;
  text-shadow: 4px 4px 21px rgba(0,0,0,0.6);
  padding: 10px;
  border-radius: 5px;
}

.w-full a:hover,.blogs a:hover,.staff_apply a:hover {
  color:brown;
  background-color: white;
}

.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce {
0%, 100% {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(.8,0,1,1);
    animation-timing-function: cubic-bezier(.8,0,1,1);
}
50% {
  transform: none;
  -webkit-animation-timing-function: cubic-bezier(0,0,.2,1);
  animation-timing-function: cubic-bezier(0,0,.2,1);
}
}